version: "3.9"
services:
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      args:
        KEYSTORE_PASSWORD: ${SERVER_SSL_KEY_STORE_PASSWORD}
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/pm
      SPRING_DATA_MONGODB_DATABASE: pm
      SERVER_SSL_KEY_STORE_PASSWORD: ${SERVER_SSL_KEY_STORE_PASSWORD}
      APP_JWT_SECRET: ${APP_JWT_SECRET}
    depends_on:
      - mongodb
    ports:
      - "8444:8443"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_ORIGIN: ""
    depends_on:
      - backend
    ports:
      - "8080:80"
      - "8443:443"
volumes:
  mongo-data:
