<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <id>configurable-proxy</id>
            <active>${proxy.active}</active>
            <protocol>${proxy.protocol}</protocol>
            <host>${proxy.host}</host>
            <port>${proxy.port}</port>
            <nonProxyHosts>${proxy.nonProxyHosts}</nonProxyHosts>
        </proxy>
    </proxies>
</settings>