<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <id>configurable-proxy</id>
            <active>${MAVEN_PROXY_ACTIVE}</active>
            <protocol>${MAVEN_PROXY_PROTOCOL}</protocol>
            <host>${MAVEN_PROXY_HOST}</host>
            <port>${MAVEN_PROXY_PORT}</port>
            <nonProxyHosts>${MAVEN_PROXY_NON_PROXY_HOSTS}</nonProxyHosts>
        </proxy>
    </proxies>
</settings>